<tr>
  <td><%= group_member.name%></td>
  <td><%= group_member.group_members.find_by(group_id: @group.id, member_id: group_member.id).role %></td>
  <td><%= link_to "脱退", operation_members_participate_path(@group, member_id: group_member.id), id: "remove-#{group_member.id}", method: :delete%></td>
</tr>
